name: Crypto News Bot

on:
  schedule:
    # MUDANÇA AQUI: Roda a cada 30 minutos (*/30)
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: pip install pyTelegramBotAPI requests deep-translator python-dateutil

      - name: Executar Bot JP Safada
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          CRYPTOPANIC_KEY: ${{ secrets.CRYPTOPANIC_KEY }}
        run: python bot.py
